.container{
    width: 40%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 60px;
    /* margin-top: 100px; */
    border-radius: 10px;
}
.container>form{
  margin-top: 50px;
}

.parent{
  background-color: rgb(197, 193, 193);
  height: 100vh;
}

@media screen and (min-width:101px) and (max-width: 1368px) {
  .container {
    width: 80%;
    margin: auto;
  }

}


@media screen and (min-width:601px) and (max-width: 900px) {
  .container {
    width: 70%;
    margin: auto;
  }

}


@media (max-width: 600px) {
    .container {
      width: 90%;
      margin: auto;
    }
  
  }