.container{
    width: 70%;
    margin: auto;
}

.myinput>Input{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid gray;
}

@media (max-width: 600px) {
    .container {
      width: 90%;
      margin: auto;
      margin-top: 50px;
    }
  
  }